<h2 id="csv-reports">Results</h2>

Numbers of submissions by type
<table class="u-full-width">
  <thead>
    <tr>
      <% Type::NAMES.each do |type| %>
        <th><%= type %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @type_numbers.each do |type| %>
        <td><%= type %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<div class="mb6">
  <h3>Reports on all submissions</h3>

  <div>
    <%= link_to 'Basic submission report', admin_basic_submission_report_path(format: "csv"), class: 'button' %>
    Returns a list of all submissions with site names, record_taken and type
  </div>
</div>

<h3>Customise reports</h3>
<div class="flex column mb6">
  <div class="w-50">
    <p>
      From date:
        <%= date_field_tag(:from_date, Date.today - 1.week, class: 'from-date mb4') %><br/>
      To date:
        <%= date_field_tag(:from_date, Date.today, class: 'to-date mb4') %><br/>
      Choose site: 
        <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true, class: 'site-select mb4'%><br/>
      
      <% tags = ActsAsTaggableOn::Tag.all.map {|t| t.name}.uniq %>
      Choose tag: 
        <%= select_tag :tag, options_for_select(tags), :include_blank => true, class: 'tag-select mb4'%>
    </p>
  </div>
  <div class="w-50">
    <span class="db pb4">
      <%= link_to 'Site specific with submission patterns',  admin_site_specific_time_period_report_path(format: "csv", ), class: 'button', id: 'site-specific-report' %><br/>
      Creates a report of each day in the selected time frame, showing how many submissions and participants
      each day for any given site. Should only be generated for short timeframes.
    </span>

    <span class="db pb4">
      <%= link_to 'Site specific with tags',  admin_site_specific_tags_report_path(format: "csv", ), class: 'button', id: 'site-specific-tag-report' %><br/>
      Returns list submissions for a selected site alongside any given tags.
    </span>

    <span class="db pb4">
      <%= link_to 'Tag specific report',  admin_tag_specific_report_path(format: "csv", ), class: 'button', id: 'manual-tag-report' %><br/>
      Create report listing submissions with specified tag, or submissions with specified tag for a specific site.
    </span>

  </div>
</div>

<h3>Other reports</h3>
<div class="flex column mb6">
  <div class="w-50">
    <h4>Participant report</h4>
      <%= link_to 'Participant report', admin_participant_report_path(format: "csv"), class: 'button' %>
  </div>

  <div class="w-50">
    <h4>Image quality</h4>

    <%= link_to 'instagram report', admin_image_quality_report_path(format: "csv", type_name: 'INSTAGRAM'), class: 'button'  %>
    <%= link_to 'twitter report', admin_image_quality_report_path(format: "csv", type_name: 'TWITTER'), class: 'button'  %>
    <%= link_to 'email report', admin_image_quality_report_path(format: "csv", type_name: 'EMAIL'), class: 'button'  %>
    <%= link_to 'whatsapp report', admin_image_quality_report_path(format: "csv", type_name: 'WHATSAPP'), class: 'button'  %>
  </div>
</div>


<h3>Zip images</h3>
<div class="flex flex-wrap column justify-between">
  <div class="w-50">
    <h4>Create new zip</h4>
    <p class="w-60-l">
      This will compress all the images for a given site, submitted up to now, and send the link to the given email address. 
      <strong>This will take a while!</strong>
    </p>
    <%= form_tag("/admin/zip_images", method: "get") do %>
      <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true %><br/>
      <%= text_field :email, nil,  placeholder: "Email address" %> <br/>
      <%= submit_tag("Collect and email zipped images") %>
    <% end %>
  </div>

  <div class="w-50">  
    <h4>Download current zip</h4>    
      <p class="w-60-l">
        This will find the latest compressed file for a given site, and download them.
        This is much quicker than creating one from scratch! 
        If no compressed file is present, you will need to create one using the form to the left.
      </p>
      <%= form_tag("/admin/download_zipped_images", method: "get") do %>
        <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true %><br/>
        <%= submit_tag("Collect and download zipped images") %>
      <% end %>

  </div>
</div>
