%td
  helllloooo
  = form_for @type, url: @type.new_record? ? types_path : type_path(@type),
                   remote: true, multipart: true, html: {enctype: 'multipart/form-data', class: ""} do |f|

    -# Form fields go here...
    %div.col
      = f.label :name
      = f.text_field :name
    %div.col
      = f.label :data
      = f.text_area :data
    
    %div.col
    
    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel
