%td{colspan: 8}
  = form_for object, url: @presenter.url,  remote: true, html: {class: "form-horizontal"} do |f|
    %div.submission-form
      %span.submission
        %img{:src => "#{}"}/

      %span
        =# f.label :url, "URL #{object.errors['url'][0]}"
        =# f.text_field :url
  
      %span
        = f.label :image 
        = f.file_field :image
  
      %span
        = f.label :site_id, "Site #{@site.name}"
        = f.select :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }, @site.id), {}, {}
      %span
        = f.label :reliable?, "Reliable / useful? #{object.errors['reliable'][0]}"
        = f.check_box :reliable
  
      %span
        = f.label :record_taken, "date taken #{object.errors['record_taken'][0]}"
        = f.date_field :record_taken
  
      %span
        = f.label :type_name, "Source/Type #{object.errors['source'][0]}"
        = f.select :type_name, Type::NAMES

        - Type::DATA_TYPES.each do |type|
          = f.label type.to_sym
          = f.text_field type.to_sym


      = f.submit "Save"
      %button.cancel Cancel
