<div class="">
  <div class="">
    <h1>Admin Interface</h1>

    <% if admin?%>
      <%= link_to 'Veiw all sites', controller: 'admin/sites' %> (edit submissions from here)
      <br/>
      <%= link_to 'Veiw all submissions', controller: 'admin/submissions' %> (no editing or deleting possible)
      <br/>
      <%= link_to 'Veiw all types', controller: 'admin/types' %>
      <br/>
      <%= link_to 'Bulk upload', controller: 'admin/bulk_upload' %>
      <br/>
      <%= link_to 'Instgram upload', controller: 'insta_upload' %>
      <br/>
      <%= link_to 'Extract reports', controller: 'admin/results' %>
    <% end %>

  </div>
</div>
