<h2 id="csv-reports">Results</h2>

<div>
  <p>
    Note - all results here are from after 01/09/2018
  </p>
</div>

Numbers of submissions by type
<table class="u-full-width">
  <thead>
    <tr>
      <% Type::NAMES.each do |type| %>
        <th><%= type %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @type_numbers.each do |type| %>
        <td><%= type %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<button>To CSV</button>

<p>Numbers of submissions by site</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Site name</th>
      <th>Submission count</th>
      <th>Instagram</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Whatsapp</th>
    </tr>
  </thead>
  <tbody>
    <% @site_numbers.each do |site| %>
      <tr>
        <td><%= site[:name] %></td>
        <td><%= site[:submissions] %></td>
        <td><%= site[:instagram] %></td>
        <td><%= site[:email] %></td>
        <td><%= site[:twitter] %></td>
        <td><%= site[:whatsapp] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button>To CSV</button>

<h3>Basic breakdown of submissions</h3>
<div>
  <%= link_to 'Basic submission report', api_v1_basic_submission_report_path(format: "csv"), class: 'button' %>
</div>

<h3>Breakdown of submissions by site</h3>
<div>
  <p>
      From date:
        <%= date_field_tag(:from_date, Date.today - 1.week, class: 'from-date') %><br/>
      To date:
        <%= date_field_tag(:from_date, Date.today, class: 'to-date') %><br/>
      Choose site: 
        <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }), class: 'site-select'%>
        <%= link_to 'Site specific report',  api_v1_site_specific_report_path(format: "csv", ), class: 'button', id: 'site-specific-report' %>
  </p>
</div>

<h3>Breakdown of submissions by type</h3>
<div>
  <p>
    <%= link_to 'instagram report', api_v1_type_specific_report_path(format: "csv", type_name: 'INSTAGRAM', data: 'insta_username'), class: 'button' %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'twitter report', api_v1_type_specific_report_path(format: "csv", type_name: 'TWITTER', data: 'twitter_username'), class: 'button'  %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'email report', api_v1_type_specific_report_path(format: "csv", type_name: 'EMAIL', data: 'email_address'), class: 'button'  %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'whatsapp report', api_v1_type_specific_report_path(format: "csv", type_name: 'WHATSAPP', data: 'number'), class: 'button'  %>
  </p>
</div>

<h3>Image quality report</h3>
<div>
  <p>
    <%= link_to 'instagram report', api_v1_image_quality_report_path(format: "csv", type_name: 'INSTAGRAM'), class: 'button'  %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'twitter report', api_v1_image_quality_report_path(format: "csv", type_name: 'TWITTER'), class: 'button'  %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'email report', api_v1_image_quality_report_path(format: "csv", type_name: 'EMAIL'), class: 'button'  %>
  </p>
</div>

<div>
  <p>
    <%= link_to 'whatsapp report', api_v1_image_quality_report_path(format: "csv", type_name: 'WHATSAPP'), class: 'button'  %>
  </p>
</div>
