<h2 id="csv-reports">Results</h2>

Numbers of submissions by type
<table class="u-full-width">
  <thead>
    <tr>
      <% Type::NAMES.each do |type| %>
        <th><%= type %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @type_numbers.each do |type| %>
        <td><%= type %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<button>Basic submission CSV</button>


<button>Site breakdown CSV CSV</button>
<div class="mb6">
  <h3>Reports on all submissions</h3>

  <div>
    <%= link_to 'Basic submission report', api_v1_basic_submission_report_path(format: "csv"), class: 'button' %>
  </div>
</div>

<h3>Customise reports</h3>
<div class="flex column mb6">
  <div class="w-50">
    <p>
        From date:
          <%= date_field_tag(:from_date, Date.today - 1.week, class: 'from-date') %><br/>
        To date:
          <%= date_field_tag(:from_date, Date.today, class: 'to-date') %><br/>
        Choose site: 
          <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true, class: 'site-select'%><br/>
        
        <% tags = ActsAsTaggableOn::Tag.all.map {|t| t.name}.uniq %>
        Choose tag: 
          <%= select_tag :tag, options_for_select(tags), :include_blank => true, class: 'tag-select'%>
    </p>
  </div>
  <div class="w-50">
      <span class="db">
        Create site specific report of submission patterns (submitters and submission numbers) <br/>
        <%= link_to 'Site specific with subission patterns',  api_v1_site_specific_report_path(format: "csv", ), class: 'button', id: 'site-specific-report' %>
      </span>

      <span class="db">
        Create site specific report with all tags (manual) <br/>
        <%= link_to 'Site specific with all tags',  api_v1_site_specific_tags_report_path(format: "csv", ), class: 'button', id: 'site-specific-tag-report' %>
      </span>

      <span class="db">
        Create report specific to tags and or sites <br/>
        <%= link_to 'Manual Tags',  api_v1_all_tags_report_path(format: "csv", ), class: 'button', id: 'manual-tag-report' %>
      </span>

      <span class="db">
        AI tags to come<br/>
        <%#= link_to 'Manual Tags',  api_v1_all_tags_report_path(format: "csv", ), class: 'button', id: 'manual-tag-report' %>
      </span>
  </div>
</div>



<h3>Reports by type</h3>
<div class="flex column mb6">
  <div class="w-50">
    <h4>Submission numbers</h4>
      <%= link_to 'instagram report', api_v1_type_specific_report_path(format: "csv", type_name: 'INSTAGRAM', data: 'insta_username'), class: 'button' %>

      <%= link_to 'twitter report', api_v1_type_specific_report_path(format: "csv", type_name: 'TWITTER', data: 'twitter_username'), class: 'button'  %>

      <%= link_to 'email report', api_v1_type_specific_report_path(format: "csv", type_name: 'EMAIL', data: 'email_address'), class: 'button'  %>

      <%= link_to 'whatsapp report', api_v1_type_specific_report_path(format: "csv", type_name: 'WHATSAPP', data: 'number'), class: 'button'  %>
  </div>

  <div class="w-50">
    <h4>Image quality</h4>

    <%= link_to 'instagram report', api_v1_image_quality_report_path(format: "csv", type_name: 'INSTAGRAM'), class: 'button'  %>
    <%= link_to 'twitter report', api_v1_image_quality_report_path(format: "csv", type_name: 'TWITTER'), class: 'button'  %>
    <%= link_to 'email report', api_v1_image_quality_report_path(format: "csv", type_name: 'EMAIL'), class: 'button'  %>
    <%= link_to 'whatsapp report', api_v1_image_quality_report_path(format: "csv", type_name: 'WHATSAPP'), class: 'button'  %>
  </div>
</div>


<h3>Zip images</h3>
<div class="flex flex-wrap column justify-between">
  <div class="w-50">
    <h4>Create new zip</h4>
    <p class="w-60-l">
      This will compress all the images for a given site, submitted up to now, and send the link to the given email address. 
      <strong>This will take a while!</strong>
    </p>
    <%= form_tag("/admin/zip_images", method: "get") do %>
      <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true %><br/>
      <%= text_field :email, nil,  placeholder: "Email address" %> <br/>
      <%= submit_tag("Collect and email zipped images") %>
    <% end %>
  </div>

  <div class="w-50">  
    <h4>Download current zip</h4>    
      <p class="w-60-l">
        This will find the latest compressed file for a given site, and download them.
        This is much quicker than creating one from scratch! 
        If no compressed file is present, you will need to create one using the form to the left.
      </p>
      <%= form_tag("/admin/download_zipped_images", method: "get") do %>
        <%= select_tag :site_id, options_for_select(Site.all.collect { | site | [site.name, site.id] }),  :include_blank => true %><br/>
        <%= submit_tag("Collect and download zipped images") %>
      <% end %>

  </div>
</div>
