<% if submission && submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

    <ul>
    <% submission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

// use the same edit functionality as images, because that just makes sense really.
<% if @submission.site %>
  <div class='row'>
    <div class="col">
      <%= @submission.site.name %>
    </div>
    <div class="col">
      <%= form.text_field :name, id: :name %>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class="col">
    <%= form.label :name, "Site Name"%>
  </div>
  <div class="col">
    <%= form.text_field :name, id: :name %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :pic_id, "PIC ID"%>
  </div>
  <div class="col">
    <%= form.text_field :pic_id %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :visits, "Visits per annum"%>
  </div>
  <div class="col">
    <%= form.number_field :visits %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :visitors, "Visitors per annum"%>
  </div>
  <div class="col">
    <%= form.number_field :visitors %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :notes, "Notes, eg, what are we monitoring here"%>
  </div>
  <div class="col">
    <%= form.text_area :notes %>
  </div>
</div>



<div class="actions">
  <%= form.submit %>
</div>


