- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th{scope: "col"}= "Site"
      %th{scope: "col"}= "Image"
      %th{scope: "col"}= "Type"
      %th{scope: "col"}= "Reliable"
      %th{scope: "col"}= "Tags"
      %th{scope: "col"}= smart_listing.sortable "Record taken", "record_taken"
      %th{scope: "col"}= smart_listing.sortable "created at", "created_at"
      
      %th{scope: "col"}= "actions"
    %tbody
      - smart_listing.collection.each do |o|
        %tr.editable{:data => {:id => o.id}}
          = smart_listing.render object: o, partial: "submissions/submission", locals: {object: o}

    %div.smart-listing-new-button
      = smart_listing.item_new colspan: 12, link: new_submission_path

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links

- else
  %p.warning No records!
