- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th{scope: "col"}= "Site"
      %th{scope: "col"}= "Image"
      %th{scope: "col"}= "Reliable"
      %th{scope: "col"}= "Type"
      %th{scope: "col"}= "Type Data"
      %th{scope: "col"}= "Tags"
      %th{scope: "col"}= smart_listing.sortable "Record taken", "record_taken"
      %th{scope: "col"}= "Actions"
      
    %tbody
      - smart_listing.collection.each do |o|
        %tr
        = smart_listing.render object: o, partial: "submissions/submission", locals: {object: o}

          
  %div.smart-listing-new-button

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links

- else
  %p.warning No records!
