- cache object do
  %td.table-text= object.site_name
  %td.table-text
    -# TODO: refactor this with presenter
    = image_tag(url_for(object.image))
  
  %td.table-text= object.reliable
  %td.table-text= object.type_name
  %td.table-text= object.type.comment if object.type
  %td.table-text= object.tags
  %td.table-text= object.record_taken.to_date.strftime "%d/%m/%y" if object.record_taken

  -# - if admin?
  -# These actions don't work, so they have been disabled. This whole view is pretty pointless really...
  -#   %td.actions= smart_listing_item_actions [{name: :show, url: submission_path(object)}, {name: :edit, url: edit_submission_path(object)}, {name: :destroy, url: submission_path(object), confirmation: "Are you sure you want to delete this submission?"}]
  -# - else
  %td.actions= smart_listing_item_actions [{name: :show, url: submission_path(object)}]
