
<% if @site_group && @site_group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@site_group.errors.count, "error") %> prohibited this site_group from being saved:</h2>

    <ul>
    <% @site_group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='row'>
  <div class="col">
    <%= form.label :name, "Site Group Name"%>
  </div>
  <div class="col">
    <%= form.text_field :name, id: :name %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.label :identifier, "Identifier (PIC number)"%>
  </div>
  <div class="col">
    <%= form.text_field :identifier, step: :any %>
  </div>
</div>


<div class="actions">
  <%= form.submit %>
</div>

