<p id="notice"><%= notice %></p>
<h3>Site general info</h3>
<div class="row">
  <div class="info col">
    <span>Name</span>
    <%= @site.name %>

    <span>PIC ID</span>
    <%= @site.pic_id %>

    <span>Visits per annum</span>
    <%= @site.visits %>

    <span>Visitors per annum</span>
    <%= @site.visitors %>

    <span>Notes</span>
    <span></span>
  </div>
  <div class="col">
    <div id="map"></div>
  </div>
  

</div>

  <h3>Submissions</h3>
  <%= smart_listing_render_controller :submissions %>

  <%= link_to "New Submission", new_site_registration_url(@site, @submission) %>

<br/>
<br/><br/>
<%= link_to 'Edit', edit_site_path(@site.id) %> |
<%= link_to 'Back', sites_path %>
<script>
  function initMap() {
    var site_location = {lat: <%=@site.latitude%>, lng: <%=@site.longitude%>};
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 10, center: site_location});
    var marker = new google.maps.Marker({position: site_location, map: map});
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQXZ0R4z8Jh0dL_5EkXREphusFS8_zCto&callback=initMap">