<p id="notice"><%= notice %></p>
<h3>Site general info</h3>
<div class="row flex flex-wrap">
  <div class="w-50 flex flex-column">

    <div class="fw9 mb2">
      <%= @site.name %>
    </div>

    <div class="fw9 mv2">
      <%= @site.pic_id %>
    </div>

    <div class="mv2">
      <span class="fw9 db">Visits per annum:</span>
      <%= @site.visits %>
    </div>

    <div class="mv2">
      <span class="fw9 db">Visitors per annum:</span>
      <%= @site.visitors %>
    </div>

    <div class="mv2">
      <span class="fw9 db">Notes:</span>
      <span></span>
    </div>

  </div>
  <div class="w-50">
    <div id="map"></div>
  </div>
  

</div>

  <h3>Submissions</h3>
  <%= smart_listing_render_controller :submissions %>

  <% if admin? %>
    <%= link_to "New Submission", new_site_registration_url(@site, @submission) %>
  <% end %>
  
  <br/><br/>
  <%= link_to "View JS CSV", {}, :class => "js-csv" %>
<br/>
<br/><br/>

<% if admin? %>
  <%= link_to 'Edit', edit_site_path(@site.id) %> |
<% end %>

<%= link_to 'Back', sites_path %>



<script>
  function initMap() {
    var site_location = {lat: <%=@site.latitude%>, lng: <%=@site.longitude%>};
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 10, center: site_location});
    var marker = new google.maps.Marker({position: site_location, map: map});
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQXZ0R4z8Jh0dL_5EkXREphusFS8_zCto&callback=initMap">