<h3>Listing all the submissions for <%=@site.name%> (<%=@site.submissions.count %>)</h3>

<table id="site-submissions-admin-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <%= paginate @submissions %>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <%= form_for submission, remote: true do |f| %>
          <td><%= image_tag(url_for(submission.image)) %></td>
          <td><%= f.select :site_id, options_for_select(Site.all.map {|s| [s.name, s.id]}, [submission.site.name, submission.site.id] || "")%></td>
          <td>Reliable? <%= f.check_box :reliable, checked: submission.reliable %></td>
          <td><%= submission.record_taken.strftime("%d/%m/%Y") %></td>

          <td><%= link_to "Destroy", submission, method: :delete, data: { confirm: "Are you sure?" } %></td>
          <td><%= submit_tag("Update Submission", class: "#{submission.id}") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>