%div
  %h1= "Submissions"
  %p= "Browse through and filter all the submissions to date"
  = smart_listing_controls_for(:admin_submissions, {class: ""}) do
    .checkbox
      %label.checkbox.inline
        = hidden_field_tag :reliable, "0"
        = check_box_tag :reliable
        = "Reliable?"

    %div.filter.form-search
      .input-group
        = text_field_tag :site_filter, '', class: "submission-options", placeholder: "Search Site", autocomplete: :off, value: "#{params[:site_filter]}"
        %span.input-group-btn

    %div.filter.form-search
      .input-group
        = text_field_tag :type_filter, '', class: "submission-options", placeholder: "Search Type", autocomplete: :off, value: "#{params[:type_filter]}"
        %span.input-group-btn
    
    %div.filter.form-search
      - tags = ActsAsTaggableOn::Tag.all.map {|t| t.name}.uniq
      = select_tag :tag, options_for_select(tags), :include_blank => true, class: 'tag-select'

  %script(type="text/javascript")
    - if params[:f]
      - params[:f].each do |field, param|
        - param.each do |option, value|
          - if value[:o] != "skip"
            - if value[:v].is_a? Hash
              value = ["#{value[:v]['0']}", "#{value[:v]['1']}", "#{value[:v]['2']}"]
            - else
              value = "#{value[:v]}"
              $.filters.append(humanize("#{field}"), "#{field}", "#{Submission.columns_hash[field].type}", value, "#{value['o']}", "", "#{option}");

  = smart_listing_render :submissions

  %br

  -# = link_to "View JS CSV", {}, :class => "js-csv"
