%td
  = form_for object, url: object.new_record? ? images_path : image_path(object), remote: true, html: {enctype: 'multipart/form-data', class: ""} do |f|

    %div.image
      - if object.url
        %img{:src => "#{object.url}"}/

    %div
      = f.label :url, "URL #{object.errors['url'][0]}"
      = f.text_field :url
      %br

      = f.label :site, "Site #{object.errors['site'][0]}"
      = f.select(:site) do
        - Image::SITES.each do |s|
          = content_tag(:option, s.downcase, value: s)
      %br

      = f.label :source, "Source #{object.errors['source'][0]}"
      = f.select(:source) do
        - Image::SOURCE.each do |s|
          = content_tag(:option, s.downcase, value: s)
      %br

      = f.label :reliable?, "Reliable / useful? #{object.errors['reliable'][0]}"
      = f.check_box :reliable
      %br

      = f.label :record_taken, "date taken #{object.errors['record_taken'][0]}"
      = f.date_field :record_taken
      %br

      = f.label :twitter_id, "twitter id"
      = f.text_field :twitter_id
    %hr

    = f.submit "Save"
    %button.cancel Cancel
