<%= form_for(@image) do |f| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited
        this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :site %>
    <%= f.select(:site) do %>
      <% Image::SITES.each do |s| -%>
        <%= content_tag(:option, s.downcase, value: s) %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.label :source %>
    <%= f.select(:source) do %>
      <% Image::SOURCE.each do |s| -%>
        <%= content_tag(:option, s.downcase, value: s) %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.label :reliable? %>
    <%= f.check_box :reliable %>
  </p>

  <p>
    <%= f.label :date_taken %>
    <%= f.date_field :date_taken %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
