
- cache object do
  %td.table-text
    %img.index-main{:src => "#{object.url}"}/
  %td.table-text= object.record_taken.to_date.strftime "%d/%m/%y" if object.record_taken
  %td.table-text= object.created_at.strftime "%d/%m/%y"
  %td.table-text= object.site
  %td.table-text= object.source
  %td.table-text= object.reliable
  - if object.weather_info
    %td.table-text= object.weather_info["data"][0]["summary"]
  %td.actions= smart_listing_item_actions [{name: :show, url: image_path(object)}, {name: :edit, url: edit_image_path(object)}, {name: :destroy, url: image_path(object), confirmation: "Are you sure you want to delete this image?"}]
