- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th.col-md-3= "Image"
      %th.col-md-1= "Site"
      %th.col-md-1= "Source"
      %th.col-md-1= "Reliable"
      %th.col-md-3= "Weather Info"
      %th.col-md-3= "actions"
    %tbody
      - smart_listing.collection.each do |o|
        %tr

        - smart_listing.collection.each do |o|
          %tr.editable{:data => {:id => o.id}}
            = smart_listing.render object: o, partial: "images/image", locals: {object: o}

      %div.smart-listing-new-button
        = smart_listing.item_new colspan: 12, link: new_image_path

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!
