<div class="row show-view">
  <div class="eight columns">
    <img src="<%= @image.submission.url %>">
  </div>

  <div class="four columns">
    <ul>
      <li>
        <strong>url:</strong>
        <%= @image.url %>
      </li>
      <li>
        <strong>Site:</strong>
        <%= @image.site %>
      </li>
      <li>
        <strong>date taken</strong>
        <%= @image.record_taken %>
      </li>
      <li>
        <strong>Weather info:</strong>

        <% if @image.weather_info %>
          <%= @image.weather_info["data"] %>
        <% else %>
          No weather info yet!
        <% end %>
      </li>
      <li>
        <strong>Reliable?</strong>
        <%= @image.reliable %>
      </li>
      <li>
        <strong>Source</strong>
        <%= @image.source %>
      </li>
      <% if @image.twitter_user_id? %>
        <li>
          <strong>Twitter user id</strong>
          <%= @image.twitter_user_id %>
        </li>
      <% end %>

      <% if @image.insta_user_id? %>
        <li>
          <strong>Instagram user id</strong>
          <%= @image.insta_user_id %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_image_path(@image) %>
<%= link_to 'Back', images_path %>
