<p id="notice"><%= notice %></p>
<h3 class="f1">Site general info</h3>
<div class="flex flex-wrap mb5">
  <div class="w-100 flex flex-column">

    <div class="fw9 mb2">
      <h4 class="f2"><%= @site.name %></h4>
    </div>

    <div class="fw9 mv2">
      <%= @site.notes["informal_description"] %>
    </div>

  </div>
</div>

<%= render template: "admin/sites/site_submissions", site: @site %>


<br/><br/>
<%= link_to "View JS CSV", {}, :class => "js-csv" %>
<br/>
<br/><br/>

<% if admin? %>
  <%= link_to 'Edit', edit_admin_site_path(@site.id) %> |
<% end %>

<%= link_to 'Back', admin_sites_path %>



<%# <script> %>
  <%# function initMap() { %>
    <%# var site_location = {lat: =@site.latitude, lng: =@site.longitude}; %>
    <%# var map = new google.maps.Map( %>
        <%# document.getElementById('map'), {zoom: 10, center: site_location}); %>
    <%# var marker = new google.maps.Marker({position: site_location, map: map}); %>
  <%# } %>
<%# </script> %>
<%# <script async defer %>
    <%# src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQXZ0R4z8Jh0dL_5EkXREphusFS8_zCto&callback=initMap"> %>